body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background: linear-gradient(80deg, #8900f9, #740bc9);
    color: white;
}

input, textarea {
    width: 300px;
    padding: 5px;
}

button {
    padding: 8px 16px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 4px;
    padding: 8px;
    background-color: #04003c;
    color: white;
}

.content-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    width: 350px;
}

/* styles for Navbar */
.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.details-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;
}